Generation: 2014/05/14 at 11h 17min 54s, Accuracy Activated<BR>
<TITLE>artimon_verdict.html</TITLE>

<IMG src=file://C:\local\ARTIMON/artimon.jpg ALT="artimon.jpg" TITLE="ARTiMon">
<BR>
*********************************************************************<BR>
<BR>
&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <FONT color="#6D2C99" size=8>ARTiMon</FONT> <BR>
<BR>
&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp( <FONT color="#6D2C99">A</FONT>ccurate <FONT color="#6D2C99"> R</FONT>eal <FONT color="#6D2C99"> Ti</FONT>me <FONT color="#6D2C99"> Mon</FONT>itor ) <BR>
<BR>
&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp MATLAB/Simulink Version <BR>
<BR>
 &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Debug V8.0<BR>
<BR>
&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Nicolas RAPIN <BR>
&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp<a href="mailto:nicolas.rapin@cea.fr">nicolas.rapin@cea.fr</a><BR>
<BR>
&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp CEA LIST <BR>
<BR>
<BR>
*********************************************************************
<BR>
<BR>Model Name : elevator
<BR>
<BR>elevator.req file parsed successfully !!
<BR>
<BR>End of this file : Line 38, Column 46
<BR>
<BR>Specification file name : elevator.req
<BR>
<BR>Garbage : no
<BR>
<BR>Specified start date : 0
<BR>
<BR>Stop date : DBL_MAX
<BR>
<BR>Time Mode : Fixed-Step 
<BR>
<BR><A name="HazardsList"> Hazards list : </A>
<BR>
<BR><A href="#form_35474080">hazard_3</A> &nbsp : &nbsp ! ( door_1_open -> cabin_1_stoped )
<BR>
<BR><A href="#form_35474224">hazrard_5</A> &nbsp : &nbsp ! ( ( Top cabin_1_direction ) -> cabin_1_stoped )
<BR>
<BR><A href="#form_35474368">hazard_6_1</A> &nbsp : &nbsp ! ( ( cabin_1_stoped & ( ! cabin_1_called ) ) -> cabin_1_waiting )
<BR>
<BR><A href="#form_35474512">hazard_6_2</A> &nbsp : &nbsp ! ( ( Bot cabin_1_waiting ) -> cabin_1_called )
<BR>
<BR><A href="#form_35474656">hazard_8_1</A> &nbsp : &nbsp ! ( ( ( G<SUB>[-40, 0]</SUB> door_1_open ) & cabin_1_opening_button_pressed ) -> ( ! cabin_1_accepting_ext_call ) )
<BR>
<BR><A href="#form_35474800">hazard_13_1</A> &nbsp : &nbsp ! ( ( Top cabin_1_target_floor ) -> ( cabin_1_accepting_new_target | cabin_1_stoped ) )
<BR>
<BR><A href="#form_35475664">hazard_13_2</A> &nbsp : &nbsp ! ( ( ( Top cabin_1_stoped ) & ( V<SUB>[-3]</SUB> cabin_1_target_defined ) ) -> ( '==' (V<SUB>[-3]</SUB> cabin_1_target_floor, cabin_1_stoped & position_cabin_1) ) )
<BR>
<BR><A href="#form_35475808">hazard_14</A> &nbsp : &nbsp ! ( ( Top door_1_open ) -> ( E<SUB>[0, 6]</SUB> door_1_ttly_open ) )
<BR>
<BR><A href="#form_35475952">hazard_1000</A> &nbsp : &nbsp ! ( time_is_zero -> ( cabin_1_waiting & cabin_1_stoped ) )
<BR>
<BR><A href="#form_35476096">target_cab_1</A> &nbsp : &nbsp cabin_1_target_floor & false
<BR>
<BR>Resets : none has been defined.
<BR>
<BR>Date of the first observation : 0<BR>

<BR>
<BR><A name="form_35475664">****************************************************************</A>
<BR>&nbsp Report for : <FONT color="red" size="+1"><B>hazard_13_2</B></FONT>
<BR>&nbsp Step of the first occurrence : <FONT color="red"><B>63</B></FONT>
<BR>&nbsp Detected at Step : 63 
<BR>
<BR>****************************************************************
<BR>
<BR>hazard_13_2 is : ! ( ( ( Top cabin_1_stoped ) & ( V<SUB>[-3]</SUB> cabin_1_target_defined ) ) -> ( '==' (V<SUB>[-3]</SUB> cabin_1_target_floor, cabin_1_stoped & position_cabin_1) ) )
<BR>
<BR>Calculus Interval : [3, 63]
<BR>
<BR>Validity of sub-formulas:
<BR>
<BR>! ( ( ( Top cabin_1_stoped ) & ( V<SUB>[-3]</SUB> cabin_1_target_defined ) ) -> ( '==' (V<SUB>[-3]</SUB> cabin_1_target_floor, cabin_1_stoped & position_cabin_1) ) ) with CI [3, 63]  :
<BR>[63, 63] &nbsp
<BR>
<BR>( ( Top cabin_1_stoped ) & ( V<SUB>[-3]</SUB> cabin_1_target_defined ) ) -> ( '==' (V<SUB>[-3]</SUB> cabin_1_target_floor, cabin_1_stoped & position_cabin_1) ) with CI [3, 63]  :
<BR>[3, 63[ &nbsp
<BR>
<BR>( Top cabin_1_stoped ) & ( V<SUB>[-3]</SUB> cabin_1_target_defined ) with CI [3, 63]  :
<BR>[34, 34] &nbsp[63, 63] &nbsp
<BR>
<BR>Top cabin_1_stoped with CI [0, 63]  :
<BR>[34, 34] &nbsp[63, 63] &nbsp
<BR>
<BR>cabin_1_stoped with CI [0, 63]  :
<BR>[0, 11[ &nbsp[34, 51[ &nbsp[63, 63] &nbsp
<BR>
<BR>V<SUB>[-3]</SUB> cabin_1_target_defined with CI [3, 66]  :
<BR>[18, 37[ &nbsp[59, 66[ &nbsp
<BR>
<BR>cabin_1_target_defined with CI [0, 63]  :
<BR>[15, 34[ &nbsp[56, 63[ &nbsp
<BR>
<BR>'==' (V<SUB>[-3]</SUB> cabin_1_target_floor, cabin_1_stoped & position_cabin_1) with CI [3, 63]  :
<BR>[34, 37[ &nbsp
<BR>
<BR>(V<SUB>[-3]</SUB> cabin_1_target_floor, cabin_1_stoped & position_cabin_1) with CI [3, 63]  :
<BR>[3, 11[<SUB>^(-10, 0)</SUB> &nbsp[34, 37[<SUB>^(20, 20)</SUB> &nbsp[37, 51[<SUB>^(-10, 20)</SUB> &nbsp[63, 63]<SUB>^(50, 30)</SUB> &nbsp
<BR>
<BR><A href="#HazardsList">(Return to hazards list)</A>
<BR>
<BR>******************************************
<BR>
<BR>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  Behaviour(s) not detected 
<BR>
<BR>******************************************
<BR>
<BR><A name="form_35474080"> <FONT color="red"><B>hazard_3</B></FONT> : no occurency detected</A>
<BR>
<BR>hazard_3 is : ! ( door_1_open -> cabin_1_stoped )
<BR>
<BR>Calculus Interval : [0, 391]
<BR>
<BR>Validity of sub-formulas:
<BR>
<BR>! ( door_1_open -> cabin_1_stoped ) with CI [0, 391]  :
<BR>Expression not valid on its CI (since date  0)
<BR>
<BR>door_1_open -> cabin_1_stoped with CI [0, 391]  :
<BR>[0, 391] &nbsp
<BR>
<BR>door_1_open with CI [0, 391]  :
<BR>[0, 2[ &nbsp[35, 42[ &nbsp[64, 71[ &nbsp[104, 111[ &nbsp[155, 218[ &nbsp[302, 309[ &nbsp[351, 391] &nbsp
<BR>
<BR>cabin_1_stoped with CI [0, 391]  :
<BR>[0, 11[ &nbsp[34, 51[ &nbsp[63, 80[ &nbsp[103, 120[ &nbsp[154, 227[ &nbsp[301, 318[ &nbsp[350, 391] &nbsp
<BR>
<BR><A href="#HazardsList">(Return to hazards list)</A>
<BR>
<BR>
<BR>
<BR><A name="form_35474224"> <FONT color="red"><B>hazrard_5</B></FONT> : no occurency detected</A>
<BR>
<BR>hazrard_5 is : ! ( ( Top cabin_1_direction ) -> cabin_1_stoped )
<BR>
<BR>Calculus Interval : [0, 391]
<BR>
<BR>Validity of sub-formulas:
<BR>
<BR>! ( ( Top cabin_1_direction ) -> cabin_1_stoped ) with CI [0, 391]  :
<BR>Expression not valid on its CI (since date  0)
<BR>
<BR>( Top cabin_1_direction ) -> cabin_1_stoped with CI [0, 391]  :
<BR>[0, 391] &nbsp
<BR>
<BR>Top cabin_1_direction with CI [0, 391]  :
<BR>[1, 1]<SUB>^1</SUB> &nbsp[154, 154]<SUB>^0</SUB> &nbsp[155, 155]<SUB>^-1</SUB> &nbsp[301, 301]<SUB>^0</SUB> &nbsp[302, 302]<SUB>^1</SUB> &nbsp[350, 350]<SUB>^0</SUB> &nbsp
<BR>
<BR>cabin_1_direction with CI [0, 391]  :
<BR>[0, 1[<SUB>^0</SUB> &nbsp[1, 154[<SUB>^1</SUB> &nbsp[154, 155[<SUB>^0</SUB> &nbsp[155, 301[<SUB>^-1</SUB> &nbsp[301, 302[<SUB>^0</SUB> &nbsp[302, 350[<SUB>^1</SUB> &nbsp[350, 391]<SUB>^0</SUB> &nbsp
<BR>
<BR>cabin_1_stoped with CI [0, 391]  :
<BR>[0, 11[ &nbsp[34, 51[ &nbsp[63, 80[ &nbsp[103, 120[ &nbsp[154, 227[ &nbsp[301, 318[ &nbsp[350, 391] &nbsp
<BR>
<BR><A href="#HazardsList">(Return to hazards list)</A>
<BR>
<BR>
<BR>
<BR><A name="form_35474368"> <FONT color="red"><B>hazard_6_1</B></FONT> : no occurency detected</A>
<BR>
<BR>hazard_6_1 is : ! ( ( cabin_1_stoped & ( ! cabin_1_called ) ) -> cabin_1_waiting )
<BR>
<BR>Calculus Interval : [0, 391]
<BR>
<BR>Validity of sub-formulas:
<BR>
<BR>! ( ( cabin_1_stoped & ( ! cabin_1_called ) ) -> cabin_1_waiting ) with CI [0, 391]  :
<BR>Expression not valid on its CI (since date  0)
<BR>
<BR>( cabin_1_stoped & ( ! cabin_1_called ) ) -> cabin_1_waiting with CI [0, 391]  :
<BR>[0, 391] &nbsp
<BR>
<BR>cabin_1_stoped & ( ! cabin_1_called ) with CI [0, 391]  :
<BR>[351, 391] &nbsp
<BR>
<BR>cabin_1_stoped with CI [0, 391]  :
<BR>[0, 11[ &nbsp[34, 51[ &nbsp[63, 80[ &nbsp[103, 120[ &nbsp[154, 227[ &nbsp[301, 318[ &nbsp[350, 391] &nbsp
<BR>
<BR>! cabin_1_called with CI [0, 391]  :
<BR>[351, 391] &nbsp
<BR>
<BR>cabin_1_called with CI [0, 391]  :
<BR>[0, 351[ &nbsp
<BR>
<BR>cabin_1_waiting with CI [0, 391]  :
<BR>[0, 1[ &nbsp[154, 155[ &nbsp[301, 302[ &nbsp[350, 391] &nbsp
<BR>
<BR><A href="#HazardsList">(Return to hazards list)</A>
<BR>
<BR>
<BR>
<BR><A name="form_35474512"> <FONT color="red"><B>hazard_6_2</B></FONT> : no occurency detected</A>
<BR>
<BR>hazard_6_2 is : ! ( ( Bot cabin_1_waiting ) -> cabin_1_called )
<BR>
<BR>Calculus Interval : [0, 391]
<BR>
<BR>Validity of sub-formulas:
<BR>
<BR>! ( ( Bot cabin_1_waiting ) -> cabin_1_called ) with CI [0, 391]  :
<BR>Expression not valid on its CI (since date  0)
<BR>
<BR>( Bot cabin_1_waiting ) -> cabin_1_called with CI [0, 391]  :
<BR>[0, 391] &nbsp
<BR>
<BR>Bot cabin_1_waiting with CI [0, 391]  :
<BR>[1, 1] &nbsp[155, 155] &nbsp[302, 302] &nbsp
<BR>
<BR>cabin_1_waiting with CI [0, 391]  :
<BR>[0, 1[ &nbsp[154, 155[ &nbsp[301, 302[ &nbsp[350, 391] &nbsp
<BR>
<BR>cabin_1_called with CI [0, 391]  :
<BR>[0, 351[ &nbsp
<BR>
<BR><A href="#HazardsList">(Return to hazards list)</A>
<BR>
<BR>
<BR>
<BR><A name="form_35474656"> <FONT color="red"><B>hazard_8_1</B></FONT> : no occurency detected</A>
<BR>
<BR>hazard_8_1 is : ! ( ( ( G<SUB>[-40, 0]</SUB> door_1_open ) & cabin_1_opening_button_pressed ) -> ( ! cabin_1_accepting_ext_call ) )
<BR>
<BR>Calculus Interval : [40, 391]
<BR>
<BR>Validity of sub-formulas:
<BR>
<BR>! ( ( ( G<SUB>[-40, 0]</SUB> door_1_open ) & cabin_1_opening_button_pressed ) -> ( ! cabin_1_accepting_ext_call ) ) with CI [40, 391]  :
<BR>Expression not valid on its CI (since date  40)
<BR>
<BR>( ( G<SUB>[-40, 0]</SUB> door_1_open ) & cabin_1_opening_button_pressed ) -> ( ! cabin_1_accepting_ext_call ) with CI [40, 391]  :
<BR>[40, 391] &nbsp
<BR>
<BR>( G<SUB>[-40, 0]</SUB> door_1_open ) & cabin_1_opening_button_pressed with CI [40, 391]  :
<BR>[195, 217[ &nbsp
<BR>
<BR>G<SUB>[-40, 0]</SUB> door_1_open with CI [40, 391]  :
<BR>[195, 218[ &nbsp[391, 391] &nbsp
<BR>
<BR>door_1_open with CI [0, 391]  :
<BR>[0, 2[ &nbsp[35, 42[ &nbsp[64, 71[ &nbsp[104, 111[ &nbsp[155, 218[ &nbsp[302, 309[ &nbsp[351, 391] &nbsp
<BR>
<BR>cabin_1_opening_button_pressed with CI [0, 391]  :
<BR>[125, 217[ &nbsp[231, 233[ &nbsp
<BR>
<BR>! cabin_1_accepting_ext_call with CI [0, 391]  :
<BR>[191, 218[ &nbsp
<BR>
<BR>cabin_1_accepting_ext_call with CI [0, 391]  :
<BR>[0, 191[ &nbsp[218, 391] &nbsp
<BR>
<BR><A href="#HazardsList">(Return to hazards list)</A>
<BR>
<BR>
<BR>
<BR><A name="form_35474800"> <FONT color="red"><B>hazard_13_1</B></FONT> : no occurency detected</A>
<BR>
<BR>hazard_13_1 is : ! ( ( Top cabin_1_target_floor ) -> ( cabin_1_accepting_new_target | cabin_1_stoped ) )
<BR>
<BR>Calculus Interval : [0, 391]
<BR>
<BR>Validity of sub-formulas:
<BR>
<BR>! ( ( Top cabin_1_target_floor ) -> ( cabin_1_accepting_new_target | cabin_1_stoped ) ) with CI [0, 391]  :
<BR>Expression not valid on its CI (since date  0)
<BR>
<BR>( Top cabin_1_target_floor ) -> ( cabin_1_accepting_new_target | cabin_1_stoped ) with CI [0, 391]  :
<BR>[0, 391] &nbsp
<BR>
<BR>Top cabin_1_target_floor with CI [0, 391]  :
<BR>[15, 15]<SUB>^20</SUB> &nbsp[34, 34]<SUB>^-10</SUB> &nbsp[56, 56]<SUB>^50</SUB> &nbsp[63, 63]<SUB>^-10</SUB> &nbsp[84, 84]<SUB>^50</SUB> &nbsp[103, 103]<SUB>^-10</SUB> &nbsp[125, 125]<SUB>^80</SUB> &nbsp[154, 154]<SUB>^-10</SUB> &nbsp[232, 232]<SUB>^10</SUB>
<BR> &nbsp[301, 301]<SUB>^-10</SUB> &nbsp[323, 323]<SUB>^120</SUB> &nbsp[350, 350]<SUB>^-10</SUB> &nbsp
<BR>
<BR>cabin_1_target_floor with CI [0, 391]  :
<BR>[0, 15[<SUB>^-10</SUB> &nbsp[15, 34[<SUB>^20</SUB> &nbsp[34, 56[<SUB>^-10</SUB> &nbsp[56, 63[<SUB>^50</SUB> &nbsp[63, 84[<SUB>^-10</SUB> &nbsp[84, 103[<SUB>^50</SUB> &nbsp[103, 125[<SUB>^-10</SUB> &nbsp[125, 154[<SUB>^80</SUB> &nbsp[154, 232[<SUB>^-10</SUB>
<BR> &nbsp[232, 301[<SUB>^10</SUB> &nbsp[301, 323[<SUB>^-10</SUB> &nbsp[323, 350[<SUB>^120</SUB> &nbsp[350, 391]<SUB>^-10</SUB> &nbsp
<BR>
<BR>cabin_1_accepting_new_target | cabin_1_stoped with CI [0, 391]  :
<BR>[0, 11[ &nbsp[15, 20[ &nbsp[25, 30[ &nbsp[34, 51[ &nbsp[56, 61[ &nbsp[63, 80[ &nbsp[84, 89[ &nbsp[94, 99[ &nbsp[103, 120[
<BR> &nbsp[125, 130[ &nbsp[135, 140[ &nbsp[145, 150[ &nbsp[154, 227[ &nbsp[232, 237[ &nbsp[242, 247[ &nbsp[252, 257[ &nbsp[262, 267[
<BR> &nbsp[272, 277[ &nbsp[282, 287[ &nbsp[292, 297[ &nbsp[301, 318[ &nbsp[323, 328[ &nbsp[333, 338[ &nbsp[343, 348[ &nbsp[350, 391]
<BR> &nbsp
<BR>
<BR>cabin_1_accepting_new_target with CI [0, 391]  :
<BR>[15, 20[ &nbsp[25, 30[ &nbsp[56, 61[ &nbsp[84, 89[ &nbsp[94, 99[ &nbsp[125, 130[ &nbsp[135, 140[ &nbsp[145, 150[ &nbsp[232, 237[
<BR> &nbsp[242, 247[ &nbsp[252, 257[ &nbsp[262, 267[ &nbsp[272, 277[ &nbsp[282, 287[ &nbsp[292, 297[ &nbsp[323, 328[ &nbsp[333, 338[
<BR> &nbsp[343, 348[ &nbsp
<BR>
<BR>cabin_1_stoped with CI [0, 391]  :
<BR>[0, 11[ &nbsp[34, 51[ &nbsp[63, 80[ &nbsp[103, 120[ &nbsp[154, 227[ &nbsp[301, 318[ &nbsp[350, 391] &nbsp
<BR>
<BR><A href="#HazardsList">(Return to hazards list)</A>
<BR>
<BR>
<BR>
<BR><A name="form_35475808"> <FONT color="red"><B>hazard_14</B></FONT> : no occurency detected</A>
<BR>
<BR>hazard_14 is : ! ( ( Top door_1_open ) -> ( E<SUB>[0, 6]</SUB> door_1_ttly_open ) )
<BR>
<BR>Calculus Interval : [0, 385]
<BR>
<BR>Validity of sub-formulas:
<BR>
<BR>! ( ( Top door_1_open ) -> ( E<SUB>[0, 6]</SUB> door_1_ttly_open ) ) with CI [0, 385]  :
<BR>Expression not valid on its CI (since date  0)
<BR>
<BR>( Top door_1_open ) -> ( E<SUB>[0, 6]</SUB> door_1_ttly_open ) with CI [0, 385]  :
<BR>[0, 385] &nbsp
<BR>
<BR>Top door_1_open with CI [0, 391]  :
<BR>[35, 35] &nbsp[64, 64] &nbsp[104, 104] &nbsp[155, 155] &nbsp[302, 302] &nbsp[351, 351] &nbsp
<BR>
<BR>door_1_open with CI [0, 391]  :
<BR>[0, 2[ &nbsp[35, 42[ &nbsp[64, 71[ &nbsp[104, 111[ &nbsp[155, 218[ &nbsp[302, 309[ &nbsp[351, 391] &nbsp
<BR>
<BR>E<SUB>[0, 6]</SUB> door_1_ttly_open with CI [0, 385]  :
<BR>[0, 2[ &nbsp[35, 42[ &nbsp[64, 71[ &nbsp[104, 111[ &nbsp[155, 218[ &nbsp[302, 309[ &nbsp[351, 385] &nbsp
<BR>
<BR>door_1_ttly_open with CI [0, 391]  :
<BR>[0, 2[ &nbsp[41, 42[ &nbsp[70, 71[ &nbsp[110, 111[ &nbsp[161, 218[ &nbsp[308, 309[ &nbsp[357, 391] &nbsp
<BR>
<BR><A href="#HazardsList">(Return to hazards list)</A>
<BR>
<BR>
<BR>
<BR><A name="form_35475952"> <FONT color="red"><B>hazard_1000</B></FONT> : no occurency detected</A>
<BR>
<BR>hazard_1000 is : ! ( time_is_zero -> ( cabin_1_waiting & cabin_1_stoped ) )
<BR>
<BR>Calculus Interval : [0, 391]
<BR>
<BR>Validity of sub-formulas:
<BR>
<BR>! ( time_is_zero -> ( cabin_1_waiting & cabin_1_stoped ) ) with CI [0, 391]  :
<BR>Expression not valid on its CI (since date  0)
<BR>
<BR>time_is_zero -> ( cabin_1_waiting & cabin_1_stoped ) with CI [0, 391]  :
<BR>[0, 391] &nbsp
<BR>
<BR>time_is_zero with CI [0, 391]  :
<BR>[0, 1[ &nbsp
<BR>
<BR>cabin_1_waiting & cabin_1_stoped with CI [0, 391]  :
<BR>[0, 1[ &nbsp[154, 155[ &nbsp[301, 302[ &nbsp[350, 391] &nbsp
<BR>
<BR>cabin_1_waiting with CI [0, 391]  :
<BR>[0, 1[ &nbsp[154, 155[ &nbsp[301, 302[ &nbsp[350, 391] &nbsp
<BR>
<BR>cabin_1_stoped with CI [0, 391]  :
<BR>[0, 11[ &nbsp[34, 51[ &nbsp[63, 80[ &nbsp[103, 120[ &nbsp[154, 227[ &nbsp[301, 318[ &nbsp[350, 391] &nbsp
<BR>
<BR><A href="#HazardsList">(Return to hazards list)</A>
<BR>
<BR>
<BR>
<BR><A name="form_35476096"> <FONT color="red"><B>target_cab_1</B></FONT> : no occurency detected</A>
<BR>
<BR>target_cab_1 is : cabin_1_target_floor & false
<BR>
<BR>Calculus Interval : [0, 391]
<BR>
<BR>Validity of sub-formulas:
<BR>
<BR>cabin_1_target_floor & false with CI [0, 391]  :
<BR>Expression not valid on its CI (since date  0)
<BR>
<BR>cabin_1_target_floor with CI [0, 391]  :
<BR>[0, 15[<SUB>^-10</SUB> &nbsp[15, 34[<SUB>^20</SUB> &nbsp[34, 56[<SUB>^-10</SUB> &nbsp[56, 63[<SUB>^50</SUB> &nbsp[63, 84[<SUB>^-10</SUB> &nbsp[84, 103[<SUB>^50</SUB> &nbsp[103, 125[<SUB>^-10</SUB> &nbsp[125, 154[<SUB>^80</SUB> &nbsp[154, 232[<SUB>^-10</SUB>
<BR> &nbsp[232, 301[<SUB>^10</SUB> &nbsp[301, 323[<SUB>^-10</SUB> &nbsp[323, 350[<SUB>^120</SUB> &nbsp[350, 391]<SUB>^-10</SUB> &nbsp
<BR>
<BR>false with CI [0, 391]  :
<BR>Expression not valid on its CI (since date  0)
<BR>
<BR><A href="#HazardsList">(Return to hazards list)</A>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>End.